.articles-wrap,
.filters {
  background-color: #282c34;
  color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.filters {
  padding: 10px;
}

.sortBy-wrap {
  margin: 20px;
}

.articles {
  display: flex;
  gap: 10px;
  border: solid 1.5px rgb(161, 161, 161);
  border-radius: 25px;
  color: gray;
  width: 48%;
  padding: 0px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  background-color: #282c34;
  transition: 0.3s;
}

.articles:hover {
  scale: 1.025;
  background-color: #393b3f;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
}

.wrapper {
  gap: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  overflow: hidden;
  padding: 10px;
  color: white;
}

.likeWrapper {
  gap: 10px;
}

.title {
  position: relative;
  top: 0px;
  color: white;
}

.postedBy {
  font-style: italic;
}

.topic {
  color: rgb(104, 104, 219);
  text-decoration: underline;
}

a {
  text-decoration: none;
  background: transparent;
  color: white;
}

.articlePageButton {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 95%;
}
