.App {
  text-align: center;
}

.form-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  width: 100%;
}

.textbox {
  background-color: aliceblue;
  border-radius: 5%;
}
